# Ignore a file or directory in the context root named "modules"
modules
tests
writing

# Ignore any files or directories within the subdirectory named "modules" 
# in the context root
modules/*

# Ignore any files or directories in the context root beginning with "modules"
modules*

# Ignore any files or directories one level down from the context root named
*/modules

# Ignore any files or folders whose names end with or pattern at the end of any path part 
*.pyc
*.swp
*.python-version
*.vscode

# Ignore any files or directories at any level, including the context root, 
**/modules
**/DRL
**/.secrets
**/output
**/logs
**/charts
**/__pycache__

# Ignore any files or folders whose names contain the pattern
*rk_*
*test*
*cache*
*.DS_Store*
*.nfs*
*.env*
*document_sets*
*log
*.ipynb_checkpoints*
*.DS_Store*
*.secret
*tests/assets*